---
import { Image } from "astro:assets";
import Icon from "../../assets/images/favicon.png";
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/Heading.astro";
---

<Layout>
  <main class="p-5">
    <div class="flex items-center gap-1">
      <Heading>Firma Jarzębski</Heading>
      <Image src={Icon} alt="logo" class="w-16" />
    </div>
    <p class="mt-5 text-xl">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore.
    </p>
  </main>
</Layout>
