---
import Layout from "../../layouts/Layout.astro";
import Heading from "../../components/Heading.astro";
import Reference from "../../components/Reference.astro";
---

<Layout>
  <main class="p-10 mt-3">
    <Heading>Referencje</Heading>
    <Reference />
  </main>
</Layout>
